@import "./variables.scss";

$theme-name: default;
$hovered-bg-color: #e7f4f9;
$hovered-shadow-color: #ccc;
$disabled-color: #666;
$disabled-bg-color: #efefef;
$clicked-bg-color: #beebff;
$clicked-shadow-color: #999;
$search-result-color: #8b0000;
$base-height: 40px;
$image-height: 32px;

@mixin tree-theme ($base-height) {
  $correction: ($image-height - $base-height) / 2;

  .tree-node {
    min-height: $base-height;
    line-height: $base-height;
    margin-left: $base-height;
    min-width: $base-height;
  }

  .tree-anchor {
    line-height: $base-height;
    height: $base-height;
  }

  .tree-icon {
    width: $base-height;
    height: $base-height;
    line-height: $base-height;
  }

  .tree-icon:empty {
    width: $base-height;
    height: $base-height;
    line-height: $base-height;
  }

  .tree-node,
  .tree-icon {
    background-position: #{-$correction} #{-$correction};
    background-repeat: repeat-y;
  }

  .tree-last {
    background: transparent;
  }

  .tree-open > .tree-ocl {
    background-position: #{-$correction} #{-$correction};
  }

  .tree-closed > .tree-ocl {
    background-position: #{-$correction} #{-$correction};
  }

  .tree-leaf > .tree-ocl {
    background-position: #{-$correction} #{-$correction};
  }

  .tree-themeicon,
  .tree-folder {
    background-position: #{-$correction} #{-$correction};
  }

  > .tree-no-dots {
    .tree-node,
    .tree-leaf > .tree-ocl {
      background: transparent;
    }

    .tree-open > .tree-ocl {
      background-position: #{-$correction} #{-$correction};
    }

    .tree-closed > .tree-ocl {
      background-position: #{-$correction} #{-$correction};
    }
  }

  .tree-disabled {
    background: transparent;

    &.tree-hovered {
      background: transparent;
    }

    &.tree-clicked {
      background: #efefef;
    }
  }

  .tree-checkbox {
    background-position: #{-$correction} #{-$correction};

    &:hover {
      background-position: #{-$correction} #{-$correction};
    }
  }

  &.tree-checkbox-selection .tree-clicked,
  .tree-checked {
    > .tree-checkbox {
      background-position: #{-$correction} #{-$correction};

      &:hover {
        background-position: #{-$correction} #{-$correction};
      }
    }
  }

  .tree-anchor {
    > .tree-undetermined {
      background-position: #{-$correction} #{-$correction};

      &:hover {
        background-position: #{-$correction} #{-$correction};
      }
    }
  }

  .tree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
  }

  .tree-file {
    background-position: #{-$correction} #{-$correction};
  }

  > .tree-container-ul > .tree-node {
    margin-left: 0;
    margin-right: 0;
  }
}

.tree-default,
.tree-default-large,
.tree-default-small {
  .tree-node,
  .tree-icon {
    background-image: url("#{$node-png}");
  }

  .tree-open > .tree-ocl {
    background-image: url("#{$open-png}");
  }

  .tree-closed > .tree-ocl {
    background-image: url("#{$closed-png}");
  }

  .tree-leaf > .tree-ocl {
    background-image: url("#{$leaf-png}");
  }

  .tree-themeicon,
  .tree-folder {
    background-image: url("#{$folder-png}");
  }

  > .tree-no-dots {
    .tree-open > .tree-ocl {
      background-image: url("#{$open-no-dot-png}");
    }

    .tree-closed > .tree-ocl {
      background-image: url("#{$closed-no-dot-png}");
    }
  }

  .tree-checkbox {
    background-image: url("#{$unchecked-png}");

    &:hover {
      background-image: url("#{$unchecked-hover-png}");
    }
  }

  &.tree-checkbox-selection .tree-clicked,
  .tree-checked {
    > .tree-checkbox {
      background-image: url("#{$checked-png}");

      &:hover {
        background-image: url("#{$checked-hover-png}");
      }
    }
  }

  .tree-anchor {
    > .tree-undetermined {
      background-image: url("#{$undetermined-png}");

      &:hover {
        background-image: url("#{$undetermined-hover-png}");
      }
    }
  }

  .tree-file {
    background-image: url("#{$file-png}");
  }
}

.tree-node,
.tree-children,
.tree-container-ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.tree-node { white-space: nowrap; }

.tree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 4px 0 1px;
  margin: 0;
  vertical-align: top;
  user-select: none;
}
.tree-anchor:focus { outline: 0; }

.tree-anchor,
.tree-anchor:link,
.tree-anchor:visited,
.tree-anchor:hover,
.tree-anchor:active {
  text-decoration: none;
  color: inherit;
}

.tree-icon {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.tree-icon:empty {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.tree-ocl {
  cursor: pointer;
}

.tree-leaf > .tree-ocl {
  cursor: default;
}

.tree .tree-open > .tree-children {
  display: block;
}

.tree .tree-closed > .tree-children,
.tree .tree-leaf > .tree-children {
  display: none;
}

.tree-anchor > .tree-themeicon {
  margin-right: 2px;
}

.tree-no-icons .tree-themeicon,
.tree-anchor > .tree-themeicon-hidden {
  display: none;
}

.tree-hidden,
.tree-node.tree-hidden {
  display: none;
}

.tree-relative {
  position: relative;
}

.tree-marker-1,
.tree-marker-2,
.tree-marker-3 {
  left: 0;
  position: absolute;
  margin: -5px 0 0 0;
  padding: 0;
  border-right: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.tree-marker-1 {
  top: 0;
}

.tree-marker-2 {
  top: 12px;
}

.tree-marker-3 {
  top: 24px;
}

.tree-#{$theme-name} {
  .tree-node,
  .tree-icon {
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .tree-hovered {
    background: $hovered-bg-color;
    border-radius: 2px;
    box-shadow: inset 0 0 1px $hovered-shadow-color;
  }

  .tree-clicked {
    background: $clicked-bg-color;
    border-radius: 2px;
    box-shadow: inset 0 0 1px $clicked-shadow-color;
  }

  .tree-no-icons .tree-anchor > .tree-themeicon {
    display: none;
  }

  .tree-disabled {
    background: transparent;
    color: $disabled-color;

    &.tree-hovered {
      background: transparent;
      box-shadow: none;
    }

    &.tree-clicked {
      background: $disabled-bg-color;
    }
  }

  .tree-search {
    font-style: italic;
    color: $search-result-color;
    font-weight: bold;
  }

  .tree-no-checkboxes .tree-checkbox {
    display: none !important;
  }

  &.tree-checkbox-no-clicked {
    .tree-clicked {
      background: transparent;
      box-shadow: none;

      &.tree-hovered {
        background: $hovered-bg-color;
      }
    }
  }
}

.tree-#{$theme-name} {
  @include tree-theme(24px);
}

.tree-#{$theme-name}-small {
  @include tree-theme(18px);
}

.tree-#{$theme-name}-large {
  @include tree-theme(32px);
}

.tree-#{$theme-name},
.tree-#{$theme-name}-small,
.tree-#{$theme-name}-large {
  > .tree-container-ul .tree-loading > .tree-ocl {
    background: url("#{$throbber-gif}") center center no-repeat;
  }

  .tree-disabled > .tree-icon,
  .tree-checkbox-disabled {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'tree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#tree-grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
  }
}
